.nube {
    position: absolute;
    background: url(../img/nube.png) no-repeat;
    background-size: contain;
    background-position: top;
    left: 0;
    width: 100%;
    height: 100%;
    animation: animation_nube 5s linear infinite;
}
.nave {
    position: absolute;
    background: url(../img/nave.png) no-repeat;
    background-size: contain;
    background-position: top;
    left: 45%;
    top: 35%;
    width: 282px;
    height: 128px;
    animation: animation_nave 5s linear infinite;
    z-index: -1;
}
.nave_humo{
    position: absolute;
    background: url(../img/nave_humo.png) no-repeat;
    background-size: contain;
    background-position: top;
    left: 20%;
    top: 38.4%;
    max-width: 411px;
    max-height: 57px;
    width: 50%;
    height: 50%;
    animation: animation_nave_humo 5s linear infinite;
    z-index: -2;
}
.car {
    position: absolute;
    background: url(../img/car.png) no-repeat;
    animation: animation_car 6s linear infinite;
    background-size: contain;
    background-position: top;
    right: 0;
    bottom: 23%;
    width: 370px;
    height: 192px;
}
.tablero {
    position: absolute;
    background: url(../img/tablero.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    right: 0;
    width: 20%;
    height: 20%;
    animation: animation_tablero 5s linear;
}

@keyframes animation_nube {
    0% {transform: translateY(-50px); opacity: 0.9;}
    95% {transform: translateY(1%);}
    100% {opacity: 0;}
}
@keyframes animation_nave {
    0% {transform: translateX(-50px); opacity: 0.9;}
    95% {transform: translateX(40%); opacity: 1;}
    100% {opacity: 0;}
}
@keyframes animation_nave_humo {
    0% {transform: translateX(100px); opacity: 0.9;}
    95% {transform: translateX(60%);}
    100% {opacity: 0;}
}
@keyframes animation_tablero {
    0% {transform: translateY(-100px); opacity: 0.9;}
    95% {transform: translateY(6%);}
}
@keyframes animation_car {
    0%{transform: translateX(0%); }
    95%{transform: translateX(-400%); opacity: 1;}
    100%{transform: translateX(300%); opacity: 0;}
}


/*------ ANIMACION Y TRANSICIONES ------ */
.player {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.player img {
    max-width: 420px;
}
.starwave {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/stars.png) no-repeat;
    background-position: left;
    background-size: cover;
    animation: animacion_starwave 8s linear infinite;
}
@keyframes animacion_starwave {
    0% {transform: translateY(-500px);}
    95% {transform: translateY(400px);}
    100% {opacity: 0;}
}
.grid {
  width: 1602px;
  height: 1602px;
  background-color: transparent;
  background-image: radial-gradient(transparent, #121212 80%),
  linear-gradient(rgba(129, 243, 255, 0.4) 2px, transparent 1px),
  linear-gradient(90deg, rgba(129, 243, 255, 0.4) 2px, transparent 1px),
  linear-gradient(rgba(129, 243, 255, 0.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(129, 243, 255, 0.2) 1px, transparent 1px);
  background-size: 1602px 1602px, 401px 401px, 401px 401px, 50px 50px, 50px 50px;
  background-position: 0 0, -1px -1px, -1px -1px, 0px 0px, 0px 0px;
  background-repeat: no-repeat, repeat, repeat, repeat, repeat;
}

.grid-wrap {
  position: absolute;
  width: 802px;
  height: 802px;
  transform-style: preserve-3d;
  z-index: 1;
  transform: rotateX(100deg) scale3d(4, 4, 1) translateZ(-500px) translateY(-800px) translateX(-750px);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  animation-name: grid-wrap-anim;
}

@keyframes grid-wrap-anim {
  0% {
    transform: rotateX(70deg) scale3d(4, 4, 1) translateZ(-500px) translateY(-800px) translateX(-750px);
  }
  40% {
    transform: rotateX(80deg) scale3d(4, 4, 1) translateZ(-1000px) translateY(-800px) translateX(-750px);
  }
  60% {
    transform: rotateX(75deg) scale3d(4, 4, 1) translateZ(-1500px) translateY(-800px) translateX(-450px);
  }
  80% {
    transform: rotateX(78deg) scale3d(4, 4, 1) translateZ(-1000px) translateY(-800px) translateX(-750px);
  }
  100% {
    transform: rotateX(70deg) scale3d(4, 4, 1) translateZ(-500px) translateY(-800px) translateX(-750px);
  }
}

.grid-anim {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  animation-name: grid-anim;
}

@keyframes grid-anim {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}