body{
    background: var(--color_body);
}
.switch_content {
    margin-left: auto;
    width: 50px;
    height: 30px;
    background-color: var(--color_inputs);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.switch {
    position: absolute;
    top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.5s, background-color 0.5s;
    will-change: transform;
}
/*-------
1. PANEL DE ADMINISTRACIÓN
-------*/
.main_dashboard{
    display: flex;
}
.sidebar_min{
    width: 95px!important;
    transition: all .3s;
}
.sidebar{
    position: fixed;
    width: 280px;
    height: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s;
    border-right: 1px solid var(--color_border);
}
.wrapper_max{
    margin-left: 95px!important;
    transition: all .3s;
}
.sidebar_min .nav_dashboard ul li:hover{
   background: transparent!important;
}
.sidebar_min .dropdow_sidebar a {
    transform: rotate(180deg);
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 280px;
}
.nav_dashboard{
    overflow: hidden;
    visibility: visible;
}
.nav_dashboard ul{
    margin: 4rem 1rem 1rem 0.5rem;
}
.nav_dashboard ul code{
    margin: 1rem 0.5rem;
    display: block;
}
.nav_dashboard ul li{
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}
.nav_dashboard ul li a{
    display: flex;
    cursor: url(../img/icons/cursor_hand.svg) 10 2, auto;
    font-size: 1.3rem;
    color: #b0b1c2;
    font-family: var(--font_dashboard);
    padding: 0.2rem;
    text-transform: inherit;
}
.nav_dashboard ul li a:hover{
    color: var(--color_white);
}
.nav_dashboard ul li a i{
    font-size: 1.45rem;
    width: 34px;
    height: 34px;
    padding: 0.4rem;
    margin-right: 1.2rem;
    border-radius: 10px;
    background: var(--color_default);
    flex-shrink: 0;
}
.nav_dashboard ul li a span{
    position: relative;
    margin: 0.25rem;
}
.nav_dashboard ul li:hover:nth-child(1) i{background: var(--color_primary);}
.nav_dashboard ul li:hover:nth-child(2) i{background: var(--color_secundary);}
.nav_dashboard ul li:hover:nth-child(3) i{background: var(--color_tercer);}
.nav_dashboard ul li:hover:nth-child(4) i{background: var(--color_cuarto);}
.nav_dashboard ul li:hover:nth-child(5) i{background: var(--color_quinto);}
.nav_dashboard ul li:hover:nth-child(6) i { background: var(--color_primary);}
/*-------
2. TITULOS Y COMPONENTES DE HEADER DEL PANEL
-------*/
.title_dashboard{
    padding: 0rem 0rem 1rem 1rem;
    margin: 0rem 0rem 0.2rem;
    display: grid;
    position: relative;
    z-index: 1;
}
.title_dashboard code{color: #565674;}
.title_dashboard button{
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
}
.perfil_admin{
    display: inline-flex;
    cursor: url(../img/icons/cursor_hand.svg) 10 2, auto;
}
.dropdow_menu .perfil_admin{
    margin-bottom: 0.4rem;
    border-bottom: 1px solid#5969818c;
}
.perfil_admin img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 0.6rem;
}
.perfil_admin small {
    margin: 0.6rem 1rem;
    font-size: 1.3rem;
    font-family: var(--font_dashboard);
    text-transform: capitalize;
}
.widgets{
    padding: 2rem;
    margin-right: 1.5rem;
    margin-bottom:1.5rem;
    border-radius: 0.5rem;
    background: var(--color_sidebar);
    height: 100%;
}
.column .widgets{
    height: 48.6%;
}
.widgets.last_child{
    margin-right: inherit;
}
.widgets_head{
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem 1rem 0rem;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #5969818c;
}
.widgets_body{
    align-items: center;
    overflow-y: auto;
    height: 420px;
    padding: 0.5rem;
}
.widgets_body::-webkit-scrollbar-track {
    background: var(--color_default);
}
.widgets_footer{
    display: flex;
    height: 90px;
}
.chat_widgets{
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: calc(100% + 20px);
}
.chat_widgets input{
    width: 100%;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    margin-left: -10px;
    padding: 12px 40px;
    font-weight: 500;
    font-family: var(--font_dashboard);
    background-image: url(../img/icons/chat_icono.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px;
}
.chat_widgets input::placeholder{
    font-size: 18px;
}
.chat_widgets:before {
    content: "";
    position: absolute;
    background-image: url(../img/icons/enviar_icono.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    width: 20px;
    height: 20px;
    background-color: var(--color_secundary);
    padding: 12px;
    border-radius: 50%;
    right: 16px;
    top: 25px;
}
.mensajes_chat{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.mensajes_chat_autor{
    position: relative;
    margin-right: 12px;
    border-radius: 50%;
    top: 0;
    left: 0;
}
.mensajes_chat_autor svg {
    width: 16px;
    padding: 2px;
    background: var(--color_sec);
    color: var(--color_white);
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.author_img {
    max-width: 70px;
    height: 70px;
    padding: 4px;
    border-radius: 50%;
    object-fit: cover;
}
.mensajes_chat_word{
    line-height: 1.4em;
    display: block;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 1rem;
    width: 100%;
}
.mensajes_chat_word h6,
.mensajes_chat_word span{
    font-family: var(--font_t);
    font-weight: 100;
    margin-bottom: 0.4rem;
}
.mensajes_chat_word span{
    font-size: 1.05rem;
    line-height: 0.9rem;
}
.mensajes_chat_word small{
    font-family: var(--font_dashboard);
    font-size: 0.9rem;
    float: right;
    margin-top: 1rem;
}
.pie_chart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.pie_chart img{
    margin-right: 0.5rem;
}
.modal_d {
    position: absolute;
    top: 0;
    max-width: 98%;
    z-index: 1;
    min-height: 100vh;
    transition: transform 1s ease-out;
}
.table{
    padding: 0.8rem;
    text-align: center;
}
.table_item{
    border: 1px solid #5969818c;
    text-align: center;
    padding: 0.8rem;
    display: inherit;
}
.status_active {
    background-color: rgb(84 255 205 / 30%);
    color: #69e1be;
    border-radius: 0.25rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.status_active:before {
    content: "\e61d";
    font-family: 'icomoon';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.dropdow_menu{
    position: absolute;
    top: 85%;
    right: 20px;
    transform: scale(1);
    margin: 0rem 0.2rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 0.4rem 0.4rem 0.6em 0.6em;
    z-index: 100;
    transition: transform 1s ease-out;
}
.dropdow_menu ul {
    display: grid;
    margin: 0.4rem;
    transition: all 0.3s ease-in-out;
}
.dropdow_menu ul li a{
    font-size: 1.0rem;
}
.dropdow_menu ul li:hover {
    background: var(--color_dhover);
}
.dropdow_sidebar{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 25px;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid var(--color_border);
}
.dropdow_sidebar a{
    color: #5969818c;
    font-size: 2.4rem;
}
.product_item{
    position: relative;
    margin-left: 1.5rem;
    margin-bottom: 1.4rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.acciones{
    cursor: url(../img/icons/cursor_hand.svg) 10 2, auto;
    background: var(--color_default);
    list-style: none;
    position: relative;
    padding: 1rem;
}
.acciones:has(:checked) {
    --opacity: 1;
    --bg: #28303B;
}
.input_check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.btn_acciones {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    min-width: 30px;
    padding: 0.2rem;
    font-size: 2rem;
}
.btn_acciones i {
    float: right;
    background: #212e48;
}
.product_item figure{
    margin: 0.4rem;
    border-radius: 1rem;
}
.description{
    padding: 0.5rem 1rem 1rem;
}
.precio_products{
    display: flex;
    flex-flow: row wrap;
}
.precio_products img{
    width: 22px;
    height: 22px;
    margin-right: 0.4rem;
}
.product_action{
    display: grid;
    opacity: var(--opacity, 0);
    transition: .5s opacity;
    position: absolute;
    top: 0%;
    right: 30px;
    transform: scale(1);
    margin: 0rem 0.2rem;
    background: var(--color_tercer);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 0.4rem 0.4rem 0.6em 0.6em;
}
.product_action ul {
    overflow: hidden;
}

.product_action ul li{
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}
.product_action ul li a{
    font-size: 1.1rem;
    color: var(--color_white);
}
.product_action ul li:hover{
    background: rgb(77, 70, 136);
}