/*-------
ESCENARIOS
--------*/
.bg_escenario {
    height: 100%;
    width: 100%;
    background-size: cover;
}
.bg_escenario::before {
    content: "";
    background: url(../img/Escena1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0.9;
}
.logo_game{
    margin-top: 2rem;
    text-align: center;
}

/*-------
MENU DE NAVEGACIÓN
--------*/
.navegacion_game{
    margin-top: 1rem;
    padding: 0rem;
}
.navegacion_game ul{
    margin-top: -1rem;
}
.navegacion_game ul li a{
    font-size: 2.5rem;
    font-family: var(--font_s);
    color: var(--color_white);
    text-shadow: 0em 0.15em 0.1em var(--color_ter);
}
.navegacion_game ul li a:hover{
    color: var(--color_ter);
}