/*-------
LOADING
--------*/
#loading_game{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 9999;
    background: #0e2238;
    align-content: center;
    justify-items: center;
}
@property --num {
    syntax: "<integer>";
    initial-value: 100;
    inherits: false;
}
.loading_percent {
    animation: counter 10s ease-in-out;
    counter-reset: num var(--num);
    font-family: var(--font_m);
    font-size: 4rem;
    padding: 2rem;
}

.loading_percent::before {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 0;
    }

    to {
        --num: 100;
    }
}
 .hidden {
     display: none!important;
 }

/*-------
ESCENARIOS
--------*/
.bg_escenario {
    height: 100%;
    width: 100%;
    background-size: cover;
}
.bg_escenario::before {
    content: "";
    background: url(../img/Escena3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 0.9;
}
.logo_game{
    margin-top: 2rem;
    text-align: center;
}
.game_antesala{
    position: fixed;
    top: 0px;
    right: 0px;
    min-height: 100vh;
    background: #0e2238;
    width: 100%;
    display: grid;
    z-index: 11;
    align-content: center;
    justify-items: center;
}
.game_antesala h4{
    font-family: (var(--font_s));
}

/*-------
MENU DE NAVEGACIÓN
--------*/
.navegacion_game{
    margin-top: 1rem;
    padding: 0rem;
}
.navegacion_game ul{
    margin-top: -1rem;
}
.navegacion_game ul li a{
    font-size: 2.15rem;
    font-family: var(--font_s);
    font-style: italic;
    color: var(--color_white);
    /*text-shadow: 0em 0.10em 0.1em var(--color_ter);*/
}
.navegacion_game ul li a:hover{
    color: var(--color_ter);
}
.iconos_gamers li{
    display: grid;
    margin: 0.1rem 0.2rem;
}
.iconos_gamers li a{
    display: flex;
    background: #00000045;
    border-radius: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0.6rem !important;
    width: 50px;
    height: 50px;
}
.monedas{
    position: relative;
    display: flex;
    background: #00000045;
    width: 150px;
    border-radius: 0.5rem 1rem;
}
.monedas img{
    position: absolute;
    max-width: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    margin-right: 2rem;
}
.monedas span{
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    font-family: var(--font_s);
    display: grid;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-content: center;
    z-index: 1;
}
.nav_botones{
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
/*-------
VENTANA MODAL
--------*/
.modal {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    animation: modal .1s .5s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}
#cerrar {
    display: none;
}

#cerrar+label {
    position: fixed;
    padding-left: 0rem;
    border-radius: 0.5rem;
    right: 150px;
    top: 150px;
    cursor: pointer;
    animation: modal 1s 2s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 10001;
}

#cerrar:checked+label,
#cerrar:checked~.modal {
    display: none;
}
.transicion {
    animation: transicion .35s ease-out;
}

@keyframes modal {
    100% {visibility: visible;opacity: 1;}}
     
@keyframes transicion {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}
}

/*-------
VIDEOJUEGO CUERPO
--------*/
.game_main {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
}
.cerrar_game_main{
    position: fixed;
    top: 0;
    margin-top: 1.5rem;
    font-size: 25px;
    z-index: 50;
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: 40px;
    border-radius: 0.4rem;
    background: var(--color_danger);
    box-shadow: 0em 0.1em 0.1em var(--color_main);
}
/*Izquierda*/
.game_main_sidebar{
    width: 350px;
    height: 100%;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition-duration: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 3px solid #00000014;
}
/*Derecha*/
.game_main_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.game_main_head {
    position: sticky;
    margin: 1.4rem;
    height: 80px;
    border-bottom: 3px solid #00000014;
}

.game_main_body {
    height: 700px;
}
/*-------
VIDEOJUEGO PERFIL MENU
--------*/
.nav_profile_game ul{
    margin-top: 2rem;
}
.nav_profile_game ul li{
    margin: 0.2rem;
    padding: 0.4rem;
}
.nav_profile_game ul li a {
    font-size: 1.8rem;
}